---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Section from "../components/Section.astro";
import Button from "../components/Button.astro";
import Circle from "../components/Circle.astro";
import Icon from "../components/Icon.astro";
import Heading from "../components/Heading.astro";
import Paragraph from "../components/Paragraph.astro";
const targetDate = new Date(new Date().getFullYear(), 10, 21); // November is month 10 (0-based)
const now = new Date();

// Meses completos
let months = targetDate.getMonth() - now.getMonth();
if (targetDate.getDate() < now.getDate()) {
    months--;
}

// Día de inicio para calcular semanas y días restantes
const temp = new Date(now);
temp.setMonth(temp.getMonth() + months);

const msLeft = targetDate.getTime() - temp.getTime();
const totalDays = Math.floor(msLeft / (1000 * 60 * 60 * 24));

const weeks = Math.floor(totalDays / 7);
const days = (totalDays % 7) + 1;
---

<Layout title="Albi y Dani">
    <Section direction="col" classes="h-screen">
        <Heading size="text-7xl">Albi y Dani</Heading>
        <Heading size="text-2xl">Nos casamos!</Heading>
    </Section>
    <Section direction="col" classes="bg-[#ECDDCA] p-8">
        <Icon src="/icono-frase.svg" />
        <Heading>LLEGÓ EL GRAN DÍA</Heading>
        <Paragraph>
            "Andábamos sin buscarnos, pero sabiendo que andábamos para
            encontrarnos."
        </Paragraph>
        <Paragraph>Julio Cortázar</Paragraph>
    </Section>
    <Section direction="col" classes="bg-white p-8">
        <div id="countdown" class="flex gap-4 justify-center">
            <Circle left=`${months}` times="Meses" />
            <Circle left={weeks} times="Semanas" />
            <Circle left={days} times="Días" />
        </div>
        <Icon src="/icono-nuestraboda.svg" />
        <div class="text-3xl">NUESTRA BODA</div>
        <div class="text-2xl text-[#d28d66]">Festejo</div>
        <Paragraph>
            21 de noviembre de 2025
            <br />
            18:00 hs
            <br />
            Terranova Eventos
            <br />
            San Jeronimo Sud, Santa Fe
        </Paragraph>
        <Button url="https://forms.gle/3d1b7Z2f8g5j4k6u9">Como llegar</Button>
    </Section>
    <Section direction="col" classes="bg-[#ECDDCA] p-8">
        <div class="text-3xl">R S V P</div>
        <Paragraph
            >Esperamos que puedas acompañarnos. ¡Confirmanos tu asistencia!</Paragraph
        >
        <Button url="https://forms.gle/3d1b7Z2f8g5j4k6u9"
            >Confirmar asistencia</Button
        >
        <Icon src="/icono-calendar.svg" />
        <Paragraph>¡Agendá la fecha en tu calendario!</Paragraph>
        <Button url="https://forms.gle/3d1b7Z2f8g5j4k6u9"
            >Confirmar asistencia</Button
        >
        <Icon src="/icono-dresscode.svg" />

        <div class="text-3xl">D R E S S C O D E:</div>
        <Paragraph>Formal elegante.</Paragraph>
        <Paragraph>
            Nuestro casamiento será al aire libre, sugerimos no usar taco y
            llevar abrigo.
        </Paragraph>
        <Button url="https://forms.gle/3d1b7Z2f8g5j4k6u9"
            >Confirmar asistencia</Button
        >
    </Section>
    <Section direction="col" classes="bg-white p-8">
        <Icon src="/icono-instagram.svg" />
        <div class="text-2xl">@LuisyMery</div>
        <Paragraph>¡Preparate para nuestro casamiento!</Paragraph>
        <Paragraph>
            Ya podés seguirnos en nuestra cuenta para ver todas las novedades
            del casamiento y etiquetarnos en tus fotos y videos.
        </Paragraph>
        <Button url="https://forms.gle/3d1b7Z2f8g5j4k6u9"
            >Ver en instagram</Button
        >
        <br />
        <div class="text-3xl">NOSOTROS:</div>
        <div>♥</div>
        <Paragraph
            >Cada historia de amor es diferente, ¡pero la nuestra es única!</Paragraph
        >
    </Section>
    <Section direction="col" classes="bg-[#ECDDCA] p-8">
        <Icon src="/icono-regalo.svg" />
        <Paragraph>
            ¡El mejor regalo es tu presencia!
            <br />
            Si deseas realizarnos un regalo...
        </Paragraph>
        <Button url="https://forms.gle/3d1b7Z2f8g5j4k6u9">Ver mas</Button>
    </Section>
    <Section direction="col" classes="bg-white p-8">
        <div class="text-3xl">F I E S T A !</div>
        <Paragraph>
            ¿Qué canciones no pueden faltar en la fiesta?
            <br />
            ¡Queremos crear una lista inolvidable!
        </Paragraph>
        <Button url="https://forms.gle/3d1b7Z2f8g5j4k6u9"
            >Sugerir cancion</Button
        >
    </Section>
    <Section direction="col" classes="bg-[#D28D66] p-8">
        <div class="text-3x1">I N F O Ú T I L</div>
        <Paragraph>
            Te dejamos sugerencias de alojamientos y traslados para que
            aproveches ese fin de semana al máximo.
        </Paragraph>
        <Button url="https://forms.gle/3d1b7Z2f8g5j4k6u9">Ver mas</Button>
    </Section>
</Layout>
