---
const { left, times } = Astro.props;
---


<div class="w-24 h-24 border border-gray-300 rounded-full flex flex-col justify-center items-center text-center">
<span class="text-xl font-semibold">{left}</span>
<span class="text-sm text-gray-500">{times}</span>
</div>
