---
import Imagen from "./Imagen.astro";

const { src } = Astro.props;
---

<div class="grid grid-cols-4 gap-4 w-full" style="padding: 40px">
    <Imagen n="1" />
    <Imagen n="2" />
    <Imagen n="3" />
    <Imagen n="4" />
    <Imagen n="5" />
    <Imagen n="6" />
    <Imagen n="7" />
    <Imagen n="8" />
</div>
