---
import Imagen from "./Imagen.astro";

const { src } = Astro.props;
---

<div
  class="grid grid-cols-4 md:grid-cols-4 grid-rows-2 md:grid-rows-2 gap-2 w-full md:px-[200px]"
>
  <Imagen n="1" />
  <Imagen n="2" />
  <Imagen n="3" />
  <Imagen n="4" />
  <Imagen n="5" />
  <Imagen n="6" />
  <Imagen n="7" />
  <Imagen n="8" />
</div>
<style>
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(4, minmax(0, 1fr));
    }
  }
</style>
