---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<script src="https://kit.fontawesome.com/ac4170e740.js" crossorigin="anonymous"></script>

	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		background-image: url("/portada-black.jpg");
		background-size: cover;
/* 		background-attachment: fixed; */
		background-position: center;
		background-repeat: no-repeat;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
